.sidebar {
  background: rgb(252, 252, 252);
  border: 1px solid rgb(227, 227, 227);
  box-sizing: border-box;
  box-shadow: rgb(183 183 183 / 25%) 0px 0px 4px;
  border-radius: 12px;
  width: 25%;
  margin-left: 80px;
  height: 100%;
}
.tick_box {
  height: 15px;
}
.easy img {
  height: 20px;
}
.easy {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.clear {
  color: #14a800;
}
.filter {
  color: rgba(136, 136, 136, 0.7);
}
.headers {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
}

.box {
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  justify-content: flex-start;
  padding-left: 100px;
}
.box2 {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  align-items: center;
}
.border {
  border-top: 1px solid rgb(227, 227, 227);
}

.option1,
.option2 {
  padding-left: 25px;
  font-size: 20px;
  justify-content: flex-start;
}
